/* setup */
html,
body,
main {
  margin: 0;
  padding: 0;
  height: 100%;
}

section {
  margin: 0 5px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

h1 {
  text-align: center;
}

.sec1 {
  background-color: coral;
  height: 200px;
}

.sec2 {
  background-color: cornflowerblue;
  height: 500px;
}

.sec3 {
  background-color: crimson;
  height: 150px;
}

.sec4 {
  background-color: greenyellow;
  height: 350px;
}
