/* MEDIA BREAKPOINTS */
/* 
    MOBILE:  425px;
    TABLET:  768px;
    DESKTOP: 1024px;
*/

@media screen and (max-width: 425px) {
  #sec1 {
    flex-wrap: wrap;
  }

  #sec1 > * {
    flex-basis: 100%;
    margin-top: 5px;
  }
}

@media screen and (min-width: 426px) {
  #card1 {
    background-color: yellow;
  }
}
