/* font-family */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Quicksand", sans-serif;
}

/* color */
h3 {
  color: coral;
}

/* font-size */
h3 {
  font-size: x-large;
}

/* font-weight */
h4 {
  font-weight: 700;
}

h4 {
  text-align: center;
}

/* text-decoration */
@counter-style pointer {
  system: cyclic;
  symbols: 🥇 🥈 🥉;
  suffix: " ";
}

li {
  list-style-type: pointer;
}
