/* width and height properties */
#box1 {
  background-color: coral;
  width: 500px;
  height: 500px;
}

/* border */
#box1 {
  border-width: 10px;
  border-style: solid;
  border-color: cornflowerblue;
  border-radius: 15px;
}

/* margin */
#box2 {
  background-color: aquamarine;
  height: 80%;
  width: 80%;
  /* margin-left: 200px; */
  /* margin-top: 50px; */
  /* margin: auto; */
}

/* padding  */
#box1 {
  margin: auto;
  padding-top: 20px;
  padding-left: 40px;
}

/* position */
#box2 {
  position: relative;
  top: 300px;
}

/* z-index */
#box2 {
  z-index: -1;
}

/* misc */
div {
  display: none;
}

/* background */
body {
  height: 100%;
  background-color: beige;
  background-image: url("/img/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
